@import 'color';

.a-propos-de-moi {
  background-color: #960548;
  color: $white;
  h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  aside {
    display: flex;
    justify-content: space-around;
    @media all and (max-device-width: 480px) {
      flex-direction: column;
      .mini-card {
        margin: 1em 0;
      }
    }
    @media all and (max-device-width: 1000px) {
      flex-direction: column;
    }
  }
}
