@import './side-nav.scss';
@import './common.scss';
@import './color.scss';
@import './button.scss';
@import './main.scss';
@import './carousel-characteristics.scss';
@import './a-propos-de-moi.scss';
@import './heading';
@import './mini-card';
@import './mixing';
@import './home.scss'; // for index.hbs
/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Calibri', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
}
