$black: #111;
$white: #f1f1f1;
$grey: #818181; // RGB(129, 129, 129, 1)
$light-grey: #b3b3b3; // RGB(179, 179, 179, 1)
$transparent: rgba(255, 255, 255, 0);
$shadow-color: #f79d9d;
$shadow-color-light: rgb(255, 0, 0);
