@import './color.scss';

a {
  color: #016aba;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: $grey;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.svg-inline--fa {
  color: $white;
}
.hidden {
  display: none;
  color: $transparent;
}
.text-center {
  text-align: center;
}
