@import './mixing.scss';

.heading {
  @include defaultBox;

  margin: auto;
  padding: 1em;
  h1 {
    text-align: center;
    font-size: 3em;
  }
  p {
    text-align: justify;
    padding: 1em;
    width: 30vw;
    margin: auto;
    font-size: 1.2em;
    @include defaultBox;
  }
  p:hover {
    @include hoverBox;
  }
  @media all and (max-device-width: 1000px) {
    p {
      width: 90%;
    }
  }
}
