// for index.hbs
.home {
  height: 100%;
  background: url('/images/wallpaper.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 !important;

  article {
    padding-top: 10em;
    text-shadow: 5px 5px 5px $grey;
    > div {
      background-color: rgba(179, 179, 179, 0.75);
      padding: 5em 0 8em 0;
    }
  }
  p {
    font-size: 2.5em;
  }
  @media all and (max-device-width: 480px) {
    p {
      font-size: 1.5em;
    }
  }
}
