.main {
  width: 100%;
  section {
    padding: 5% 0;

    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 3em;
    }
    h2,
    h1 {
      text-transform: uppercase;
      font-family: 'Monoton', cursive;
    }
  }
  @media all and (max-device-width: 480px) {
    section {
      width: 100vw;
      padding: 20% 0;
      h2 {
        margin: 5px;
      }
    }
  }
}
