@import './mixing.scss';

.mini-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
  width: 100%;
  @include defaultBox;
  .svg-inline--fa {
    font-size: 4em;
  }
  h5 {
    font-size: 1.2em;
    margin-top: 1em;
    width: 12em;
  }

  p {
    text-align: justify;
    width: 15em;
  }
}

.mini-card:hover {
  @include hoverBox;
}
