@import './color.scss';

$sizeIcons: 1.5em;

.side-nav {
  z-index: 9999;
  width: 6em;
  @media all and (min-device-width: 480px) {
    margin-right: 9px;
  }
  .hidden-menu {
    transition-duration: 0.5s;
    width: 0em;
  }
  @media all and (max-device-width: 480px) {
    .menu-button {
      background-color: $black;
      border-bottom-left-radius: 5px;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      font-size: $sizeIcons;
      padding: 10px 15px;
      position: fixed;
      right: 0px;
      top: 0px;
    }
  }
  nav {
    align-items: center;
    background-color: $black;
    border-right: 2px solid $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition-duration: 0.5s;

    .svg-inline--fa {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: $sizeIcons;
    }
    p {
      font-size: 0.8em;
      margin: 2px 5px;
      text-align: center;
      text-transform: capitalize;
    }
    p,
    .svg-inline--fa {
      color: $white;
    }
    a:hover {
      p,
      .svg-inline--fa {
        color: $grey;
      }
    }
  }
}
