<div class="carousel-characteristics">
  {{#swiper-container speed=750 autoplay=true}}
    {{#each this.characteristics as |item|}}
      {{#swiper-slide}}{{{item}}}{{/swiper-slide}}
    {{/each}}
  {{/swiper-container}}
</div>