<nav class="side-nav {{{this.menuDisplay}}}">
    {{#each this.navigationLink as |item|}}
    <LinkTo @route={{item.url}} class="menu-{{{item.url}}}">
        <FaIcon @icon={{item.icon}} />
        <p>{{{item.word}}}</p>
    </LinkTo>
    {{/each}}
</nav>
<button class="nude menu-button" {{on "click" this.toggleOpen}}>
    {{#if this.isOpen}}
    <FaIcon @icon="angle-double-left"></FaIcon>
    {{else}}
    <FaIcon @icon="bars"></FaIcon>
    {{/if}}
</button>