{{page-title 'A-Propos-De-Moi'}}
<section class="a-propos-de-moi">
  <Heading
    @title="À propos de moi"
    @text="Alors, moi c'est Julien, je suis née en 1988 (la meilleur année) donc j'ai 32 ans et je vie près de bordeaux dans la région du grave (les amateurs de vin connaitront facilement). Actuelement je suis Développeur Web depuis 2 ans, j'ai commencé ma carriere comme électricien puis éléctromécanicien principalement dans le milieu de la cuisine industriels. Sinon je suis un touche à tout, je bricole, je  jongle, je fais du sport (plus assez en ce moment), de la cuisine, etc, etc (la liste est longue et n'a pas grand intérèt)"
    @iconTitle="user-astronaut"
  />
  <article>
    <h2>
      Mon travail au quotidien
    </h2>
    <aside>
      <MiniCard
        @icon="code"
        @title="J'adore coder, mais pas que ..."
        @text="Creation, conception, documentation, test, se que j'aime c'est toute le réflection autour"
      />
      <MiniCard
        @icon="search"
        @title="Curiositer au quotidien"
        @text="Je me remet toujours en question, car on peut toujours faire mieux."
      />
      <MiniCard
        @icon="bug"
        @title="Résoudre des problèmes, c'est ma vie"
        @text="Avant je réparais des machine, maintenant je FIX du code"
      />
      <MiniCard
        @icon="lightbulb"
        @title="Et un peu de créativité"
        @text="L'une des bases je trouve, on pars de fichiers vide et on finit avec un site, script, logiciel, etc."
      />
    </aside>
  </article>
</section>