<section class="home">
  <article>
    <div>
      <p class="text-center">
        Enchanté, moi c'est Julien
      </p>
      <p class="text-center">
        je suis
      </p>
      <CarouselCharacteristics />
    </div>
  </article>
</section>